
main {
    /* to ensure the navigation bar does not cover content */
    padding-top: 52px;
}

body {
    margin: 0;
}

/* nav bar */
#navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /* align-items: center; */
    background-color: #fafcff;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


.logoContainer {
    width: 300px;
    margin-right: 70px;
}

.logo {
    width: 350px;
    height: auto;
}

.searchBar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.searchBarArea {
    background-color: #fafcff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 0px;
    width: 450px;
    border: 1.1px solid #333333;
    padding: 5px;
    border-radius: 9px;
    margin-right: auto;
}

.searchBarArea input {
    width: 100%;
    justify-self: flex-start;
    padding: 0px;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    
}

.searchMenuIcons {
    display: flex;
    justify-content: center;
}


.searchMenuIcons button {
    background-color: #fafcff;
    border: none;
    padding: 2px;
    cursor: pointer;
    font-size: 16px;

}

.loginCart {
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    margin-right: 1%;
    position: relative;
}

.loginCart button {
    background-color: #fafcff;
    border: none;
    padding: 2px;
    cursor: pointer;
    font-size: 16px;
}

/* category bar */

.categoryBar {
    display: flex;
    position: fixed;
    width: 100%;
    flex-wrap: nowrap;
    z-index: 1000;
}

.categoryBar .categories {
    width: 100%;
    background-color: #FFE0FD;
    border: 2px solid #ff7cf6;
    display: flex;
    justify-content: center;
    align-content: center;
}

.categories {
    margin: -1px;
}

.categories button {
    background-color: #FFE0FD;
    color:#333333;
    border: none;
    padding: none;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 1px;
}


/* banner image */

#bannerImage {
    width: 100%;
}

.banner {
    width: 100%;
}

/* best sellers */
.bestSellers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.featuredProducts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.featuredProduct {
    /* padding: 20px; */
    max-width: 300px;
    text-align: center;
    padding-bottom: 20px;
}

.featuredProductImage {
    width: 90%;
    height: auto;
    border: 4px solid #0003FD;
    border-radius: 9px;
}

.productName {
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0;
}

.price {
    color: #333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0;
}

#addID {
    border: 2px solid #333333;
    background-color: #0003FD;
    border-radius: 9px;
    color: #fafcff;
    padding: 10px 20px;
    cursor: pointer;
    width: 25%;
   
}

#addID p {
    margin: 0;
}

#addID:hover {
    background-color: #fafcff;
    color: #0003FD;
}

#addID:focus {
    background-color: #fafcff;
    color: #0003FD;
}

#addID:active {
    background-color: #fafcff;
    color: #0003FD;
}


.add {
    border: 2px solid #333333;
    background-color: #0003FD;
    border-radius: 9px;
    color: #fafcff;
    padding: 10px 20px;
    cursor: pointer;
   
}

.add p {
    margin: 0;
}

.add:hover {
    background-color: #fafcff;
    color: #0003FD;
}

.add:focus {
    background-color: #fafcff;
    color: #0003FD;
}

.add:active {
    background-color: #fafcff;
    color: #0003FD;
}

/* review bar */
.reviewBar {
    background-color: #ff7cf6;
    border: 2px solid #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.reviewBar ul {
    background-color: #fafcff;
    display: flex;
    list-style: none;
    margin: 10px;
    /* animation for 25s, infinite and constant speed*/
    animation: scroll 25s infinite linear;
    overflow: hidden;
}

.reviewBar ul li {
    /* set so reviews do not wrap and on single line*/
    white-space: nowrap;
    padding: 0px;
    color: #494949;
    position: relative;
    overflow: hidden;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-127%)
    }
}

/* search results */
.searchResults {
    background-image: url(GWP-Grid.png);
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchTitle {
    display: flex;
    background-color: #FFE0FD;
    border: 2px solid #ff7cf6;
    border-radius: 9px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.searchTitle i {
    padding: 10px;
    font-size: 16px;
}

.backText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* playstation 1 games */
.productResults {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;

}
.product {
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
    width: 25%;
}

.productImage {
    width: 90%;
    height: auto;
    border: 4px solid #0003FD;
    border-radius: 9px;
    cursor: pointer;
}

.productName {
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0;
}

.price {
    color: #333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0;
}

.add {
    border: 2px solid #333333;
    background-color: #0003FD;
    border-radius: 9px;
    color: #fafcff;
    padding: 10px 20px;
    cursor: pointer;
   
}

.add:hover {
    background-color: #fafcff;
    color: #0003FD;
}

.add:focus {
    background-color: #fafcff;
    color: #0003FD;
}

.add:active {
    background-color: #fafcff;
    color: #0003FD;
}

.more{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 1000;
}

.more i {
    font-size: 24px;
}

/* Related Products */
.relatedProducts {
    background-color: #FFE0FD;
    color: #333333;
    border: 2px solid #ff7cf6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.relatedProductArticles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.relatedProduct {
    /* padding: 20px; */
    max-width: 300px;
    text-align: center;
    padding-bottom: 20px;
}

.relatedProductImage {
    width: 90%;
    height: auto;
    border: 4px solid #0003FD;
    border-radius: 9px;
}



/* top collections */
.topCollections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: #FFE0FD;
    padding: 0;
    margin: 0;
}

.topCollectionsTitle {
    text-align: center;
    margin: 0;
}

.topCollection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
    padding-bottom: 20px;
}
.collection{
    max-width: 300px;
    text-align: center;
    border: 4px solid #ff7cf6;
    border-radius: 9px;
    cursor: pointer;
    flex: 1;
}

/* language icon */

.languageIconButton{
    background-color: transparent;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    padding: 5px;
    z-index: 1000;
}

.languageIconButton img.languageIcon {
    width: 30px;
    height: auto;
}
/* Monopoly Game */
#monopolyPage {
    background-image: url(GWP-Grid.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monopolyCell {
    background-color: #fafcff;
    width: 70%;
    justify-content: center;
    border: 2px solid #333333;
    border-radius: 9px;
    margin-bottom: 20px;
}
.bannerTitle {
    background-image: url(GWP-Grid.png);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.monopolyPageTitle {
    display: flex;
    background-color: #ff7cf6;
    border: 2px solid #333333;
    border-radius: 9px;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.monopolyPageTitle i {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.monopolyContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.Reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
    overflow: hidden;
}

.priceInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.seeMore {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addProduct {
    border: 2px solid #333333;
    background-color: #0003FD;
    border-radius: 9px;
    color: #fafcff;
    padding: 10px 20px;
    cursor: pointer;
   
}

#addProduct:hover {
    background-color: #fafcff;
    color: #0003FD;
}

#addProduct:focus {
    background-color: #fafcff;
    color: #0003FD;
}

#addProduct:active {
    background-color: #fafcff;
    color: #0003FD;
}

.numberProducts th.number {
    border: 2px solid #333333;
    background-color: #fafcff;
    border-radius: 9px;
    color: #0003FD;
    padding: 10px 20px;
    cursor: pointer;
}

.numberProducts th.arrow {
    border: 2px solid #333333;
    background-color: #0003FD;
    border-radius: 9px;
    color: #fafcff;
    padding: 10px 20px;
    cursor: pointer;
}

.numberProducts th.arrow {
    border: 2px solid #333333;
    background-color: #5b5df1;
    border-radius: 9px;
    color: #fafcff;
    padding: 10px 20px;
    cursor: pointer;
}

.starRating {
    border: 2px solid #333333;
    border-radius: 5px;
    padding: 5px;
}


/* carousel */
.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.monopolyImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carouselContainer {
    height: 100%;
    position: relative;
}

.carouselList {
    padding: 0;
    margin: 0;
    list-style: none;
}
.carouselSlide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.buttonCarousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.buttonCarouselLeft {
    left: -50px;
}

.buttonCarouselRight {
    right: -50px;
}

.buttonCarousel i {
    font-size: 50px;
}

.carouselNavigation {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 12px;
}

.indicator.currentSlide {
    background: rgba(0, 0, 0, 0.75);
}

.bannerTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pageTitle {
    display: flex;
    border-radius: 9px;
    align-items: center;
    margin: 5px;
    padding: 0;
}

.pageTitle i {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.pageCartTitle {
    display: flex;
    background-color: #ff7cf6;
    border: 2px solid #333333;
    border-radius: 9px;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    justify-content: center;

}

.pageCartTitle h1 {
    padding: 10px;
    font-size: 16px;
}

.pageCartTitle i {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    justify-self: flex-start;
}

.cartPrice {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 2px;
}

.total {
    border: 2px solid #333333;
    color: #0003FD;
    border-radius: 9px;
    width: 20%;
    text-align: center;
}

.checkout {
    border: 2px solid #333333;
    color: #333333;
    background-color: #71F262;
    border-radius: 9px;
    width: 20%;
    cursor: pointer;
}

.checkout:hover {
    border: 2px solid #333333;
    color: #333333;
    background-color: #b7f6b0;
    border-radius: 9px;
    width: 20%;
    cursor: pointer;
}

.cartProducts {
    display: flex;
    justify-content: center;
}

.remove {
    border: 2px solid #333333;
    background-color: #FFD3D3;
    border-radius: 9px;
    color: #333333;
    padding: 10px 20px;
    cursor: pointer;
   
}

.remove:hover {
    background-color: #f4e6e6;
    color: #333333;
}

.remove:focus {
    background-color: #f4e6e6;
    color: #333333;
}


.numberProducts th.number {
    border: 2px solid #333333;
    background-color: #fafcff;
    border-radius: 9px;
    color: #0003FD;
    padding: 10px 20px;
    cursor: pointer;
}

.numberProducts {
    display: flex;
    justify-content: center;
}

.numberProducts th.arrow {
    border: 2px solid #333333;
    background-color: #0003FD;
    border-radius: 9px;
    color: #fafcff;
    padding: 10px 20px;
    cursor: pointer;
}

.numberProducts th.arrow:hover {
    border: 2px solid #333333;
    background-color: #5b5df1;
    border-radius: 9px;
    color: #fafcff;
    padding: 10px 20px;
    cursor: pointer;
}

.cartProducts.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cart {
    background-image: url(GWP-Grid.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartBackground {
    background-color: #fafcff;
    width: 70%;
    justify-content: center;
    border: 2px solid #333333;
    border-radius: 9px;
    margin-bottom: 10%;
}

/* checkout */
.checkoutTitle {
    display: flex;
    background-color: #ff7cf6;
    border: 2px solid #333333;
    border-radius: 9px;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    justify-content: center;

}

.checkoutTitle h1 {
    padding: 10px;
    font-size: 16px;
}

.checkoutTitle i {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    justify-self: flex-start;
}

.checkoutInfo {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

#checkoutPage {
    background-color: #FFE0FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkoutInfo {
    background-color: #fafcff;
    width: 80%;
    justify-content: center;
    border: 2px solid #333333;
    border-radius: 9px;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

input[type=text] {
    width: 100%;
}

.personalDelivery {
    width: 45%;
}

.payment {
    width: 45%;
}

.cartPrice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalCheckout {
    border: 2px solid #333333;
    color: #0003FD;
    border-radius: 9px;
    width: 50%;
    text-align: center;
    height: 15%;
    margin: 2px;
}

.checkoutCheckout {
    border: 2px solid #333333;
    color: #333333;
    background-color: #71F262;
    border-radius: 9px;
    width: 50%;
    cursor: pointer;
    height: 15%;
    margin: 2px;
}

.checkoutCheckout:hover {
    background-color: #b7f6b0;
    border: 2px solid #333333;
    color: #333333;
    border-radius: 9px;
    width: 50%;
    cursor: pointer;
    height: 15%;
    margin: 2px;
}

/* confirmation */
#confirmation {
    background-color: #f4e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#grid {
    background-image: url(GWP-Grid.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    justify-content: center;
    border: 2px solid #333333;
    border-radius: 9px;
    padding: 10%;
}

#confirmationBackground {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff7cf6;
    border: 2px solid #333333;
    border-radius: 9px;
    padding: 5%;
}

.tick {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #71F262;
    border: 2px solid #333333;
    padding: 3px;
    margin: 3%;
    text-align: center;
}

.success {
    text-align: center;
    background-color: #FFE0FD;
    margin: 0;
    border: 2px solid #333333;
    border-radius: 9px;
    padding: 10px;
}

.continueShopping {
    border: 2px solid #333333;
    color: #333333;
    background-color: #fafcff;
    border-radius: 9px;
    width: 30%;
    cursor: pointer;
    height: 15%;
    margin: 10px;
}

/* #home {
    display: none;
} */

#playstationOneGames {
    display: none;
}


#monopolyPage {
    display: none;
}

#cart {
    display: none;
}
#checkoutPage {
    display: none;
}
#confirmation {
    display: none;
}














